{# ⚠️ This is only an example, put your HTML/TWIG in there #}
<div class="container">
    <div class="row py-5 align-items-start justify-content-center">
        <div class="col-12 col-md-4 my-3 my-lg-0">
            <h5 class="mb-3">{{__('Contatti','pannello')}}</h5>
            {% include "partials/menu.twig" with {
				'menu': main_menu.get_items,
				'classes': 'flex-column list-unstyled',
			} %}
        </div>
        <div class="col-12 col-md-4 my-3 my-lg-0">
            <h5 class="mb-3">{{__('Link utili','pannello')}}</h5>
            <li><a class="d-block" href="#">Sempre pronti</a></li>
            <li><a class="d-block" href="#">Servizi</a></li>
            <li><a class="d-block" href="#">Consulenza</a></li>
            <li><a class="d-block" href="#">Speciale Cucina</a></li>
            <li><a class="d-block" href="#">Speciale Soggiorno</a></li>
        </div>
        <div class="col-12 col-md-4 my-3 my-lg-0">
            <h5 class="mb-3">{{__('Contatti','pannello')}}</h5>
            <div class="my-3">
                <li><p>{{holder.registry.business_name}}</p></li>
                <lI><p>Via Giuseppe Garibba 2 - 37138 Verona (VR)</p></li>
                <lI><p>CF/P. IVA 04814610236</p></li>
            </div>
            <div class="my-3">
                <b><p>Mail</p></b>
                <li><a href="mailto:pannello@pannello.it">pannello@pannello.it</a></li>
            </div>
        </div>
    </div>
</div>
        <div class="col-12 text-center py-3 data">
            <small>
                Pannello.it© {{"now"|date('Y')}} - {{holder.registry.business_name}} - P.IVA {{holder.registry.vat}}<br>
                {{__('Capitale sociale','your-project')}} € {{holder.registry.share_capital|number_format(2, ',', '.')}} i.v. - REA PD n.{{holder.registry.registration_code}}

                <a href="{{options.pages.contacts}}">{{holder.registry.email}}</a> - 
                <a href="{{options.pages.privacy}}">{{__('Privacy & Cookies','your-project')}}</a>
            </small>
        </div>