{# ⚠️ This is only an example, put your HTML/TWIG in there #}
<nav class="navbar py-3">
    <div class="navbar-brand">
        <a href="{{ site.link }}" target="_self">
            <img id="header-logo" src="{{ site.theme.link }}/dist/img/vectors/pannello-logo.svg" alt="Logo" class="img-fluid">
        </a>
    </div>
    <div id="normal-menu">
        {% include "partials/menu.twig" with {'menu': main_menu.get_items} %}
    </div>
    <button id="menu-toggler">
        <div class="menu-toggler-bar"></div>
        <div class="menu-toggler-bar"></div>
        <div class="menu-toggler-bar"></div>
    </button>

</nav>
    <div id="main-menu" class="menu mobile-menu pt-5">
        <div class="container">
            <div class="row text-center mt-5">  
                <div class="col-12 mt-5">
                    {% include "partials/menu.twig" with {'menu': main_menu.get_items} %}
                </div>
                <div class="col-12">
                    <span>{{__('Email','your-project')}}:</span> {{ holder.registry.email }}<br>
                    <span>{{__('Tel','your-project')}}.</span> <a href="tel:{{ holder.registry.phone }}">{{ holder.registry.phone }}</a><br>
                </div>
                <div class="col-12 text-center py-3">
                    <small>
                        © CambioAnta {{"now"|date('Y')}} - {{holder.registry.business_name}} - P.IVA {{holder.registry.vat}}<br>
                        <p>Capitale sociale: € {{holder.registry.share_capital|number_format(2, ',', '.')}}</p>
                        <a href="{{options.pages.contacts}}">{{holder.registry.email}}</a><br>
                        <a href="{{options.pages.privacy}}">{{__('Privacy & Cookies','your-project')}}</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
