{% set accordion = post.get_field('accordion') %}

<section class="accordion-cosa-facciamo pb-5">
    <div class="container">
        <div class="row">
            <div id="accordion" class="w-100 text-left">
            {% for element in accordion.features %}
                <div class="card my-2">
                    <div class="card-header" id="heading-{{ loop.index }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                                {{element.title}}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse-{{ loop.index }}" class="collapse show" aria-labelledby="heading-{{ loop.index }}" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            {% for item in element.list %}
                                <li>{{item.point}}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>