{% set cover = post.get_field('cover') %}

<section id="cover" class="position-relative">
 <div class="shadow"></div>
    <div class="d-flex align-items-center image-background" style="background-image: url('{{cover.image.url}}')">
        <div class="container">
            <div class="row align-items-center text-slide">
                <div class="col-12">
                    <h2 class="text-uppercase">{{cover.title}}</h2>
                    <h3 class="h2 big-title">{{cover.subtitle}}</h3>
                    <p>{{cover.text}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
