{% set page_cta = post.get_field('page_cta') %}

<section id="cta-row" class="divider text-center position-relative py-5">
    <div class="container">
        <div class="row text-center">
                {% if page_cta.title %}
                    <div class="col-12">
                        <h3>{{page_cta.title}}</h3>
                    </div>
                {% endif %}
                
                {% if page_cta.title %}
                    <div class="col-12 mt-2">
                        <h4>{{page_cta.subtitle}}</h4>
                    </div>
                {% endif %}

                {% if page_cta.title %}
                    <div class="col-12 mt-4">
                        <a href="{{page_cta.button_cta.link}}" class="mt-3 cta-button">{{page_cta.button_cta.text}}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>