{% set description = post.get_field('description') %}

<section id ="description-text">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="h1 mb-3 title text-uppercase">{{description.title}}</h3>
                <div class="my-4">
                   {{description.text}}
                 </div>
            </div>
            {% if description.cta %}
            <div class="col-12 text-center">
                <a href="{{description.link}}" class="btn btn-success btn-cta">{{description.cta}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>