{% set five_points = post.get_field('five_points') %}
<section id="five-points" class="five-points position-relative">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
        {% for item in five_points.points %}
            <div class="col-12 col-md-4 text-center py-3 point {% if loop.index == 4 %}col-12 col-md-6{% endif %}{% if loop.index == 5 %}col-12 col-md-6{% endif %}">
                <div class="white-container py-5 px-3">
                <h3 class="mb-4 text-uppercase">{{ item.title}}</h3>
                <p>{{ item.description}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>