{% set hero = post.get_field('hero') %}

<section id="hero" class="position-relative">
<div class="">
{% for item in hero %}
    <div class="d-flex align-items-center image-background" style="background-image: url('{{item.background.url}}')">
        <div class="shadow"></div>
        <div class="container text-center text-lg-left">
            <div class="row text-center align-items-center text-slide">
                <div class="col-12">
                {% if item.title %}
                    <h1>{{item.title}}</h1>
                {% endif %}
                </div>
                <div class="col-12">
                {% if item.subtitle %}
                    <h2 class="mt-2">{{item.subtitle}}</h2>
                {% endif %}
                </div>
                <div class="col-12">
                {% if item.description %}
                    <p>{{item.description}}</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</section>
