
{% set container_icon = post.get_field('container_icon') %}

<section id ="icon-section" class="py-3 py-lg-5">
    <div class="container">
        <div class="row justify-content-center">
        {% for icon in container_icon %}
            <div class="my-3 col-12 {{classes}} text-center">
            <img src="{{ icon.image.url }}">
                <h4 class="kanban-color my-3">{{icon.title}}</h4>
                <p>{{icon.text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>