<section id="{{id}}" class="section-map py-5">
    <div class="container py-5"> 
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6 info-pannello">
                <h3 class="mb-5">Informazioni Pannello.it</h3>
                <p><b>Indirizzo:</b> Via di prova 123, Rovigo, Italia</p>
                <p><b>Email:</b><a href="mailto:info@pannello.it"> info@pannello.it</a></p>
                <p><b>Telefono:</b> <a href="tel:+39 032222422"> +39 032222422</a></p>
            </div>
            <div class="col-12 col-lg-6 google-map">
                {% filter shortcodes %}
                    [wpgmza id="1"]
                {% endfilter %}
            </div>
        </div>
    </div>
</section>