
<section id="products" class="products-grid">
    <div class="container">
        <div class="row align-items-end container-slide">
        {% for article in element %}
            <div class="col-12 col-md-6 col-lg-4 my-5">
            <a class="article" href="{{article.link}}">
                <div class="cover" style="background-image:url('{{Image(article.thumbnail).src}}')"></div>
                    <h3 class="text-products mt-3 text-left">{{article.title}}</h3>
                    <span class="content-preview">{{article.content}}</span>
            </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>