
{% set contact = post.get_field('contact') %}
<section id="map-address" class="pt-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="text-center text-md-left py-4 col-12 col-md-4">
                <div class="mb-3">
                    <h3 class="mb-4">{{contact.title}}</h3>
                    <p class="mb-1">{{contact.data.name}}</p>
                    <p class="mb-1">{{contact.data.address}}</p>
                    <p class="mb-1">{{contact.data.p_iva}}</p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-3">Email</h5>
                    <p target="_blank" href="mailto:{{contact.data.email}}" class="mb-3">{{contact.data.email}}</p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-3">Email Assistenza</h5>
                    <a target="_blank" href="mailto:{{contact.data.email_assistence}}" class="mb-3">{{contact.data.email_assistence}}</a>
                </div>
                <div class="mb-3">
                    <h5 class="mb-3">Ticket</h5>
                    <a href="{{contact.data.ticket}}" target="_blank" class="mb-3">{{contact.data.ticket}}</a>
                </div>
            </div>
            <div class="col-12 col-md-8">
            {% filter shortcodes %}
                [wpgmza id="1"]
            {% endfilter %}
            </div>
        </div> 
    </div>
</section>