{% set reference_slider = post.get_field('reference_slider') %}

<section id="reference-slider" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5 text-center">
                <h3 class="h2">Referenze</h3>
            </div>
        </div>
        <div class="row container-reference carousel">
            {% for logo in reference_slider %}
                <div class="col text-center">
                    <a target="_blank" href="{{logo.url}}" class="link-news">
                        <img src="{{logo.image.url}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>