{% set column_point = post.get_field('column_point') %}
<section id="three-packs" class="py-5 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 mt-3 mt-lg-0 text-center point">
                <div class="top-image" style="background-image:url('{{ site.theme.link }}/dist/img/vectors/clipboard.svg')"></div>
                <div class="white-container py-5 px-3">
                <h3 class="text-uppercase">{{ column_point.compila.title}}</h3>
                <p>{{ column_point.compila.description}}</p>
                </div>
            </div>
             <div class="col-12 col-lg-4 mt-3 mt-lg-0 text-center point">
                <div class="top-image center-image" style="background-image:url('{{ site.theme.link }}/dist/img/vectors/handshake.svg')"></div>
                <div class="white-container py-5 px-2">
                <h3 class="text-uppercase">{{ column_point.visiona.title}}</h3>
                <p>{{ column_point.visiona.description}}</p>
                </div>
            </div>
             <div class="col-12 col-lg-4 mt-3 mt-lg-0 text-center point">
                <div class="top-image" style="background-image:url('{{ site.theme.link }}/dist/img/vectors/home-delivery.svg')"></div>
                <div class="white-container py-5 px-3">
                <h3 class="text-uppercase">{{ column_point.ordina.title}}</h3>
                <p>{{ column_point.ordina.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>