{% set two_column_slider = post.get_field('two_column_slider') %}

<section id="two-column" class="py-5 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                <div class="text-container px-4">
                    <h1 class="text-uppercase mb-2">{{ two_column_slider.title}}</h1>
                    <h3 class="mb-3">{{ two_column_slider.subtitle}}</h3>
                    <p>{{ two_column_slider.description}}</p>
                </div>
            </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0 slider-two-column carousel">
            {% for item in two_column_slider.slider_immagini %}
                    <img src="{{ item.image.url }}">
            {% endfor %}
                </div>
        </div>
    </div>
</section>