.page-contacts {
    #description-text{
        padding-bottom: 2rem!important;
        background: #f5f5f5;
    }
    #contact-form{
        background: #f5f5f5;
    }
    input[type="text"],input[type="email"],input[type="tel"],textarea{
        width: 100%;
        padding: 10px 0;
    }
    input[type="checkbox"]{
        width: 20px;
        height: 20px;
        vertical-align: text-top;
        margin-right: 5px;
    }
    .wpcf7-list-item{
        margin: 0 0 0 .5rem;
        @include media-breakpoint-down(md){
           display: block;
        }
    }
    .checkbox-list{
        label{
            padding: 10px;
            margin: 0;
            cursor: pointer;
            transition: .4s all;
            &:hover{
                background-color: #dadada;
            }
        }
    }
    textarea{
        max-height: 200px;
    }
    .btn-default{
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        background: #333;
        color: #fff;
        border: none;
    }
}
