.page-home{
	// Add CSS Attributes
    #two-column{
        background: $white;
        p{
            display: none;
        }
        h6{
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}
