#cta-row{
    background-color: #333;
    color: $white;
    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size:2rem;
    }
    a{
        border: 2px solid;
        background-color: transparent;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        padding: 15px 35px;
        text-transform: uppercase;
        border-radius: 0;
        display: inline-block;
        transition: .4s all;
        box-shadow: none!important;
        
    }
}
