#description-text{
    padding: 5rem 0;
    .btn-cta{
        border: 2px solid;
        background-color: transparent;
        color: #333;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 35px;
        text-transform: uppercase;
        border-radius: 0;
        transition: .4s all;
        box-shadow: none!important;
        &:hover{
            background: #333;
            color: $white;
        }
    }
}