section.five-points{
    .point{
        border: 1px solid #333;
        min-height: 310px;
        @include media-breakpoint-down(lg){
            min-height: 450px;
        }
        @include media-breakpoint-down(sm){
            min-height: auto;
            border: none;
            border-top: 1px solid;
        }
    }
}