#hero{
    .shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 1;
        @include media-breakpoint-down(md){
            background-color: rgba(0,0,0,0.8    );
        }
    }
    .image-background {
        min-height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        @include media-breakpoint-down(md){
            min-height: 650px;
        }
        .text-slide{
            z-index: 2;
            position: relative;
            p{
                max-width: 80%;
                line-height: 1.8;
                font-size: 1.1rem;
                font-weight: 500;
                @include media-breakpoint-down(md){
                    max-width:100%;
                    font-size: 1rem

                }
            }
        }
    }
}