.products-grid{
    .article{
        &:hover{
            .cover{
                transform: scale(1.02)
            }
        }
    }
    .cover{
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid ;
        transition: .4s all;
  
    }
    .content-preview{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 75px;
    }
    a{
        color: $black;
        text-decoration: none;
    }

   
}
.page-article{
.breadcrumbs{
    a{
        color: $black;
        text-decoration: none;
    }
}
    .sharing{
        position: sticky;
        top: 85px;
        a{
            margin: 0 5px;
            color: $black;
            text-decoration: none;
            i{
                font-size: 2rem;
            }
        }
    }
}