#three-packs{
    background-color: #f5f5f5;
    .top-image{
        height: 100px;
        width: 100px;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .center-image{
        background-position: center 10px;
    }
    h3{
        color: #F3B700;
        font-weight: 900;
    }
}