#two-column{
    background-color: #f5f5f5;
    h1{
        color: #fcbe54;
        font-weight: 700;
    }
    h3{
        color: #797979;
        font-weight: 200;
    }
    .slider-two-column{
        img{
            object-fit: cover;
            object-position: center;
            height: 500px;
        }
    }
    ul{
        padding-left: 0;
    }
}