<article class="tease tease-{{post.post_type}} {{classes}}" id="tease-{{post.ID}}">
	{% block content %}
	<a href="{{post.link}}">
		<h2 class="h2 title">
			{{post.title}}
		</h2>
		<p>{{post.preview.length(50).read_more(__('Leggi di più','your-project'))}}</p>
		{% if post.get_thumbnail %}
			<img src="{{Image(post.thumbnail).src}}" class="img-fluid"/>
		{% endif %}
	</a>
	{% endblock %}
</article>
