footer {
    // Add CSS Attributes
    background-color: #f5f5f5;
    color: #333;
    p{
        margin: 0;
    }
    li{
        display: block;
        width: 100%;
        line-height: 1.5;
        .nav-link, a{
            padding: 0;
            color: #333;
            margin: 10px 0;
            &:hover{
                font-weight: 800;
                color: #333;
                text-decoration: none;
            }
        }
    }
    .data{
        background-color: #e0e0e0;
        a{
            font-weight: 800;
            color: #333;
        }
    }
}
