*{
    &::selection{
        color: mix($white,complement($blue),40%) !important;
    }
}

html {
  scroll-behavior: smooth;
}

body{
    // overflow: hidden;
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
    p{
        font-size: 17px;
    }
}

main,
#app{
    // position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.app-page{
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // pointer-events: none;

    .app-scroll{
        will-change: transform;
        z-index: 2;
    }
}

section{
    position: relative;
    z-index: 1;
}

// Optional 'Visually Hide GRecaptcha'
.grecaptcha-badge{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.overflow-body{
    overflow: hidden;
}

#accordion{
    .card{

        .card-header{
            background-color: #333;
            button{
                color: #fff;
                width: 100%;
                text-align: left;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .collapse{
            transition: .4s all;
        }
    }
}