header {
    // Add CSS Attributes
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    border-bottom:1px solid $gray-300;
    #normal-menu{
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    .navbar{
       
        .nav-item{
           letter-spacing: 1px;
            font-size: 17px;
            a{
                color: #333;
                font-weight: 600;
                transition: .1s all;
                &:hover{
                    font-weight: 800;
                }
            }
        }
    }
    button#menu-toggler{
        background-color: transparent;
        border: none;
        display: none;
        position: relative;
        z-index: 9999;
        @include media-breakpoint-down(lg) {
            display: inline-block;
        }
        .menu-toggler-bar{
            margin: 3px 0;
            width: 25px;
            height: 3px;
            background: #333;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    #main-menu{
        position: absolute;
        width: 100%;
        height:100vh;
        top: 0;
        left: 0;
        pointer-events: none;
        background-color: $white;
        z-index:-1;
        transform: translateY(-100%);
        transition: 1s all;
        opacity: 0;
        &.mobile-menu{
           .container{
           margin-top: 100px;
           }
            .nav-item{
                text-transform: uppercase;
                font-size: 2rem;
                width: 100%;
                
                a{
                    color: #333;
                    font-weight: 600;
                }
            }
        }
        &.active{
            transform: translateY(0);
            pointer-events: auto;
            z-index:1000;
            opacity: 1;
        }
    }
    #header-logo{
        height: 70px;
    }
    .dropdown{
        &.active-dropdown{
            .dropdown-menu{
                display: block;
                left: auto;
                right: 0;
            }
        }
    }
}
