{% extends 'base.twig' %}

{% block page_class %}about{% endblock %}

{% block content %}

{% include "components/sections/cover.twig" %}
{% include "components/sections/description-text.twig" %}
{% include "components/sections/two-column-slider.twig" %}
{% include "components/sections/cta-row.twig" %}

{% endblock %}
