{% extends 'base.twig' %}

{% block page_class %}contacts{% endblock %}

{% block content %}

{% include "components/sections/cover.twig" %}
{% include "components/sections/info-map.twig" %}
{% include "components/sections/description-text.twig" %}
{% include "components/sections/form-contacts.twig" with {
    id:'contact-form',
    form:'[contact-form-7 id="159" title="Contatti"]',
} 
%}

{% endblock %}
