{% extends 'base.twig' %}

{% block page_class %}cosa-facciamo{% endblock %}

{% block content %}
{% include "components/sections/cover.twig" %}
{% include "components/sections/description-text.twig" %}
{% include "components/sections/accordion-how.twig" %}
{% include "components/sections/cta-row.twig" %}

{% endblock %}
