{% extends 'base.twig' %}

{% block page_class %}home{% endblock %}

{% block content %}

{% include "components/sections/hero.twig" %}
{% include "components/sections/five-points.twig" %}
{# {% include "components/sections/description-text.twig" %} #}
{% include "components/sections/three-packs.twig" %}
{# {% include "components/sections/reference.twig" %} #}
{% include "components/sections/two-column-slider.twig" %}
{% include "components/sections/cta-row.twig" %}

{% endblock %}
