{% extends 'base.twig' %}

{% block page_class %}privacy{% endblock %}

{% block content %}
<section id="privacy" class="privacy py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{post.content}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
