{% extends 'base.twig' %}

{% block page_class %}speciale-cucina{% endblock %}

{% block content %}

{% include "components/sections/cover.twig" %}
{% include "components/sections/description-text.twig" %}
{% include "components/sections/item-post-grid.twig" with{
    element : products,
}%}

{% endblock %}
