<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <link rel="apple-touch-icon" sizes="180x180" href="https://pannello.it/wp-content/uploads/2021/12/cropped-favicon-pannello.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="https://pannello.it/wp-content/uploads/2021/12/cropped-favicon-pannello.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="https://pannello.it/wp-content/uploads/2021/12/cropped-favicon-pannello.jpg">
    <meta name="msapplication-TileColor" content="#000">

    <!-- Safari Pinned Tab Icon -->
    <link rel="mask-icon" href="{{ site.theme.link }}/assets/img/icons/safari-pinned-tab.svg" color="#20FDC3">

    <!-- Android Browser Status Bar Color -->
    <meta name="theme-color" content="#2C1B3D">

    {# <style>
        #app-loader{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#111;transition:transform .4s ease;z-index:10;}#app-loader.active{transform:translateY(100%);}
    </style> #}

    {{function('wp_head')}}
