{% if menu %}
<ul  class="nav ml-auto {{ menu_class }} mb-5 mb-lg-0">
	{% for item in menu %}
	<li class="nav-item {{ item.classes | join(' ') }} {% if item.children | length > 0 %}dropdown{% endif %}">
		<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}" data-children='
		{{ function('json_encode', item.children) }}'>{{ item.title }} {% if item.children | length > 0 %}<i class="bi bi-chevron-down"></i>{% endif %}</a>
		
		{% if item.children | length > 0 %}
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for subitem in item.children %}
			<li class="">
				<a class="py-3 dropdown-item" target="{{ subitem.target }}" href="{{ subitem.link }}">{{ subitem.title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}
