<ul class="nav mt-3 socials">
    <li class="item">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link|url_encode }}&title={{ post.title }}" target="_blank"><span class="dashicons dashicons-linkedin"></span></a>
    </li>
    <li class="item">
        <a href="https://twitter.com/share?text={{ post.title }}&amp;url={{ post.link|url_encode }}" target="_blank"><span class="dashicons dashicons-twitter"></span></a>
    </li>
    <li class="item">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link|url_encode }}" target="_blank"><span class="dashicons dashicons-facebook-alt"></span></a>
    </li>
</ul>