{% extends 'base.twig' %}

{% block page_class %}casestudy-article {{post.post_type}}{% endblock %}

{% block content %}

    {# ⚠️ This is only an example, put your HTML/TWIG in there #}
    <section id="" class="">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    {# ⚠️ This is only an example, put your own HTML/TWIG structure #}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block modal %}
    {# If you need Modals #}
{% endblock %}
