{% extends 'base.twig' %}

{% block page_class %}article{% endblock %}

{% block content %}
   
    <section class="mb-5 single-article-blog">
        <div class="container">
            <div class="row mt-sm-5">
                <aside id="sidebar" class="col-12 col-lg-3 my-3 my-sm-0 sidebar position-relative">
					<div class="row align-items-start justify-content-between pb-3 pb-sm-0 actions sharing">
						<div class="col-12">
							<h6 class="label">{{__('Condividi su','resolve')}}</h6>
						</div>
						<div class="col-12">
							{% include 'partials/sharing.twig' %}
						</div>
					</div>
				</aside>
               
                {# ARTICLE Content #}
				<div id="preview" class="col-12 col-lg-9">
					{# Event Preview #}
					<div class="pb-3 pb-sm-5 preview">
						{# Breadcrumbs #}
						<nav class="breadcrumbs" aria-label="breadcrumbs">
							<ol class="list-unstyled nav">
								<li class="item">
									<a href="{{options.pages.news}}">{{ __('Blog','resolve') }}</a>
								</li>
								<li class="mx-2">></li>
                                <li class="item">
                                    {{post.date}}
								</li>
							</ol>
						</nav>

						{# Headings (Title, Subtitle) #}
						<div class="my-2 heading">
							<h1 class="title">{{post.title}}</h1>
                            {% if post.meta('abstract') %}
                                <h2 class="h3">{{post.meta('abstract')}}</h2>
                            {% endif %}
						</div>

						{# Cover #}
						{% block cover %}
                            <div class="row g-sm-0 mt-3">
                                <div class="col-12 cover">
                                    <img src="{{Image(post.thumbnail).src}}" alt="{{Image(post.thumbnail).alt}}" class="mt-auto img-fluid logo" />
                                </div>
                            </div>
                        {% endblock %}
					</div>
				</div>
            </div>
            <article class="row">
                <div class="col-12 article-content">
                    {# First Paragraph (WP WYSIWYG Content) #}
                    {% block abstract %}
                    <div class="row">
                        <div class="col-12 col-lg-9 {% if post.meta('quote') == false %}offset-lg-3{% endif %} order-1 order-sm-2 content">
                            {{post.content}}
                        </div>
                    </div>
                    {% endblock %}
                    
                    {# {% for block in post.meta('blocks') %}
                        {% if block.acf_fc_layout == "content" %}
                            <div class="row">
                                <div class="col-12 col-sm-9 {% if block.quote == false %}offset-sm-3{% endif %} order-1 order-sm-2 content">
                                    {{block.value}}
                                </div>
                                {% if block.quote %}
                                <div class="d-none d-lg-block col-12 col-sm-3 order-2 order-sm-1 quote">
                                    <div class="content">
                                        {{block.quote}}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        {% elseif block.acf_fc_layout == "quote" %}
                            <div class="row mb-3 my-sm-4">
                                <div class="col-12 col-sm-9 offset-sm-3 quote-main">
                                    <div class="p-3 p-sm-5 text-center content">
                                        {{block.quote}}
                                    </div>
                                </div>
                            </div>
                        {% elseif block.acf_fc_layout == "image" %}
                            <div class="row">
                                <div class="col-12 col-sm-9 offset-sm-3 image">
                                    <img src="{{(Image(block.value).src)}}" alt="{{(Image(block.value).alt)}}" class="img-fluid" />
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                       <button class="d-block d-lg-none mt-3 btn btn-default  btn-modal" data-target="newsletter-modal">{{__('Iscriviti alla Newsletter','resolve')}} <i class="bi bi-arrow-right"></i></button>
                    {% if post.meta('related') %}
                        <div class="row mt-3 my-sm-5 related-post">
                            <div class="col-12 col-lg-9 offset-lg-3">
                                {% if post.meta('related')[0].post_type == 'services' %}
                                    <a href="{{post.meta('related')[0].link}}" class="btn btn-services">
                                        <button class="btn btn-read-more">{{__('Scopri il prodotto','resolve')}} <i class="bi bi-arrow-right"></i></button>
                                        <span class="h3 title">{{post.meta('related')[0].title}}</span>
                                    </a>
                                {% elseif post.meta('related')[0].post_type == 'casestudies'%}
                                    <a href="{{post.meta('related')[0].link}}" class="btn btn-default btn-casestudies">{{__('Scopri le soluzioni che abbiamo già implementato','resolve')}} <i class="bi bi-arrow-right"></i></a>
                                {% elseif post.meta('related')[0].post_type == 'events'%}
                                    <a href="{{post.meta('related')[0].link}}" class="btn btn-default btn-webinar">{{__('Iscriviti al webinar gratuito','resolve')}} <i class="bi bi-arrow-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% block specific_content %}{% endblock %} #}
                </div>
            </article>
        </div>
    </section>

    {# {% if posts %}
        {% include 'layout/sections/related-posts.twig' with {
            group: posts
        }%}
    {% endif %} #}


{% endblock %}

